<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleIndex.css">
    <link rel="shortcut icon" type="imagex/png" href="images/Blackout-logo.png">
    <title> Pagina Inicial </title>
</head>
<body>
    <header>
        <img src="images/BolaFutebol-icon.png" alt="Imagem Logo">
        <ul>
            <li><a href="#">teste</a></li><!--botoes-->
            <li><a href="#">teste</a></li>
            <li><a href="#">teste</a></li>
        </ul>
    </header>
    <div class="titulo">
        <h1>Venha fazer sua peneira AGORA!</h1>
        <p> Cadastre-se!</p>

        <a href="/jogador"><button>Jogador</button></a>
        <a href="/responsavel"><button>Responsavel</button></a>
    </div>


    
</body>
</html>